body {
	background: #f5f5f5
}



.container {
	padding: 10px;
}

.content {
	border: 1px solid #CCC;
	padding: 10px 30px 30px 30px;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 5px 0 #999999;
	-moz-box-shadow: 0 0 5px 0 #999999;
	box-shadow: 0 0 5px 0 #999999;
	color: #595959;
}

.form-container {
	margin-top: 20px;
}

.form-control:focus {
	outline: 0;
	color: #333;
	border-color: #AAA;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(168,168,168,.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(168,168,168,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(168,168,168,.6);
}

.form-control:invalid {
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
	border: 2px solid red;
}

#regexpvalue:valid {
	-moz-box-shadow: 0px 0px 5px green;
	-webkit-box-shadow: 0px 0px 5px green;
	box-shadow: 0px 0px 5px green;
	border: 2px solid green;
}


legend {
	font-size: 16px;
	font-weight: normal;
}